.graffiti-title {
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: clamp(1.5rem, 2.5vw + 0.5rem, 2.1rem);
    line-height: 1;
    margin: 0;
    padding: 0.1rem 0;

    color: #68B300;
    text-shadow:
            2px 2px 0 #0e7a4a,
            4px 4px 0 #056d42,
            6px 6px 0 #1a1a1a;

    letter-spacing: 0.2em;
    text-align: center;
    white-space: nowrap;
    width: auto;
}

/* DESKTOP */
@media (min-width: 768px) {
    .graffiti-title {
        font-size: clamp(1.8rem, 2.8vw, 2.4rem);
    }
}

/* Mobile */
@media (max-width: 767px) {
    .graffiti-title {
        font-size: clamp(1.4rem, 5vw, 1.8rem);
        letter-spacing: 0.1em;
    }
}